@font-face {
    font-family: 'Engravers';
    src: url("./fonts/Engravers.otf") format("opentype");
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Cormorant', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: ##f6f6ef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}


/* legacy ----------------- */
.container {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*end legacy*/

.page_header {
  text-align: center;
  background-color: darkcyan;
}

header {
  padding: 1px 0 1px 0;
  margin: 0;
  text-align: center;
}

header .hero_text {
  font-size: 40px;
  color: #980000;
  margin-bottom: 3px;
  border-width: 0;
  font-family: "Engravers";
}

header .subtitle {
  font-size: 16px;
  padding: 2px 10px;
  color: #000000;
}

.single-line {
    width: 98.9vw;
    height: 1px;
    border-top: 1px solid black;
    margin: 0;
}

.double-line {
    width: 98.9vw;
    height: 1px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

header ul {
  list-style-type: none;
  margin: 20px 0 2px 0;
  padding: 0;
  overflow: hidden;
}

header li {
  width: calc((100% - 80px) / 4); 
  float: left;
}

header li a {
  display: block;
  text-align: center;
  padding: 0 40px;

  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

header li a:hover {
  color: #650000;
}
/* legacy ----------------- */


/* submit page */
.main_text {
  color: #000000;
  padding: 20px 10% 100px 10%;
}
.main_text h2 {
  text-align: center;
  margin: 30px 0 50px 0;
}
.main_text p, ul {
  margin-bottom: 30px;
}
.main_text ul li {
  margin-bottom: 10px;
}


/* articles page */
.article_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.article_grid a {
  color:  #101010;
  text-decoration: none;
}

.article_box {
  margin: 2%;
  padding: 2%;

  border-width: 1px;
  border-color: grey;
  border-style: solid;
  box-shadow: 4px 6px 6px grey;

  background-color: #ffffff;
  color: #101010;
}

.article_box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.article_box h3 {
  font-weight: 600;
}

.article_box h4 {
  font-weight: 100;
}

.article_tag {
  background-color: #000000;
  border-radius: 4px;

  margin: 0 10px 0 0;
  padding: 4px 8px;

  font-size: 9px;
  text-transform: uppercase;
  color: #ddddee;
}

.article_byline {
  font-size: 14px;
  font-style: italic;
}

/* banner components */
.banner {
  text-align: center;

  background-color: #650000;
  color: #ffffff;
  min-height: 20;
  width: auto;

  padding: 15px 0;
  margin: 0;
}

.banner h2, p {
    margin: 10px 0;
}

.form_field {
  padding: 0.5rem 1.25rem;

  border-width: 1px;
  border-color: #ffffff;
  border-radius: 0.5rem;

  background-color: #650000;
  color: #ffffff;

  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;

}

/* button components */
.button {
  padding: 0.5rem 1.25rem;

  border-width: 1px;
  border-color: #ffffff;
  border-radius: 0.5rem;

  background-color: #650000;
  color: #ffffff;

  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;

  transition: all 0.2s;
}

.button:hover {
  background-color: #ffffff;
  color: #650000;
  cursor: pointer;
}

/* misc */
.link {
  text-decoration: none;
  color: #e21a2c;
}

.underlined {
  border-bottom: 2px #d2202f solid;
}


/* footer component */
footer {
  padding: 20px 0;
  background-color: #131516;
  color: #dadada;
}

footer .social {
  text-align: center;
  padding-bottom: 10px;
}

footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 0 solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.5;
}

footer .copyright {
  margin: 1px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

footer .highlight {
  color: #ff7070;
  text-decoration: none;
}
